.header-wrapper {
  margin: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cart-link-text {
    position: relative;
    top: -1px;
    margin-left: 5px;
    @include chivo();
    @include txt-size-2();
    transition: $link-transition;
  }

  .header-cart-icon {
    path {
      transition: $link-transition;
    }
  }
  
  .header-cart-link:hover {
    .header-cart-icon {
      path {
        fill: $blue;
        transition: $link-transition;
      }
    }
    .cart-link-text {
      color: $blue;
      cursor: pointer;
      transition: $link-transition;
    }
  }

}
