.product-wrapper {
  background-color: $white;
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  @include mq-md() {
    margin-bottom: 1.5rem;
    flex-wrap: nowrap;
  }
  @include mq-lg() {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    display: block;
  }

  .product-image-wrapper,
  .product-details-wrapper {
    width: 100%;
    @include mq-md() {
      width: 50%;
    }
  }

  .product-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 3rem;
    padding: 4%;
    @include mq-lg() {
      padding: 4% 6% 4% 4%;
    }
  }

  .add-to-cart-wrapper {
    margin: 3rem 0 1rem 0;
    @include mq-md() {
      margin: 0;
    }
  }

  .product-title-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; // keep this way so price is aligned at top for long titles
    width: 100%;
    margin-bottom: 1rem;
    @include mq-md() {
      margin-bottom: 1.5rem;
    }
  }

  .product-title {
    @include chivo();
    @include txt-size-5();
  }

  .product-price {
    position: relative;
    top: 5px;
    @include chivo-light();
    @include txt-size-4();
  }

  .product-remaining {
    position: relative;
    left: 2px; // nudge to left so it looks visually aligned
    @include txt-size-1();
    @include txt-gray();
    text-transform: uppercase;
  }

  .remove-button {
    @include txt-warning();
    @include txt-size-3();
    text-align: left;
    &:hover {
      cursor: pointer;
    }
    @include mq-md() {
      text-align: right;
    }
  }

  // so + quantity - buttons don't break up
  .quantity-adjustment {
    white-space: nowrap;
  }
}

.product-quantity {
  min-width: 95px;
  width: 33%;
  display: inline-block;
  text-align: center;
  border-top: 2px solid $gray-btn;
  border-bottom: 2px solid $gray-btn;
  box-sizing: border-box;
  padding-top: 13px; // TODO: better way to handle this
  padding-bottom: 14px; // TODO: better way to handle this
  @include mq-md() {
    width: auto;
    padding-top: 15px; // TODO: better way to handle this
    padding-bottom: 16px; // TODO: better way to handle this
  }
}


