// COLORS

$white: rgba(255,255,255,1);
$black: rgba(41,41,41,1);
$gray: rgba(155,155,155,1);
$light-gray: rgba(245,245,245,1);

$gray-border-color: rgba(216,216,216,1);
$gray-bg-color: rgba(220,222,224,1);
$gray-btn: rgba(237,237,237,1);
$gray-btn-disabled: rgba(249,249,249,1);
$gray-btn-text: rgba(142,147,156,1);
$gray-btn-text-disabled: rgba(222,222,222,1);

$dark-blue: rgba(64,127,192,1);
$blue: rgba(94,151,209,1);
$blue-disabled: rgba(94,151,209,.4);
$color-warning: rgba(204,29,57,1);

// BREAKPOINTS

$sm: 599px;
$md: 600px;
$lg: 900px;
$xl: 1280px;

// FONT SIZES

// phone
$txt-size-sm1: 12px; // small text
$txt-size-sm2: 13px; // button
$txt-size-sm3: 14px; // base size
$txt-size-sm4: 16px; // price
$txt-size-sm5: 21px; // headline
$txt-size-sm6: 28px; // lg headline

// tablet
$txt-size-md1: 12px; // small text
$txt-size-md2: 14px; // button
$txt-size-md3: 16px; // base size
$txt-size-md4: 21px; // price
$txt-size-md5: 28px; // headline
$txt-size-md6: 38px; // lg headline

// large
$txt-size-lg1: 13px; // small text
$txt-size-lg2: 14px; // button
$txt-size-lg3: 16px; // base size (not used)
$txt-size-lg4: 21px; // price
$txt-size-lg5: 38px; // headline
$txt-size-lg6: 51px; // lg headline

// TRANSITIONS

$slow: 0.4s;
$regular: 0.25s;
$fast: 0.175s;
$link-transition: all $regular linear;

// BORDERS
$gray-border: 1px solid $gray-border-color;

// MISC
$btn-border-radius: 50px;

