/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */
.txt-chivo {
  font-family: 'Chivo', sans-serif; }

.txt-chivo-light {
  font-family: 'Chivo Light', sans-serif; }

.txt-chivo-bold {
  font-family: 'Chivo Bold', sans-serif; }

.txt-helvetica-neue {
  font-family: 'Helvetica Neue', sans-serif; }

.txt-size-1 {
  font-size: 12px; }

.txt-size-2 {
  font-size: 13px; }

.txt-size-3 {
  font-size: 14px; }

.txt-size-4 {
  font-size: 16px; }

.txt-size-5 {
  font-size: 21px; }

.txt-size-6 {
  font-size: 28px; }

@media (min-width: 600px) {
  .txt-size-1 {
    font-size: 12px; }
  .txt-size-2 {
    font-size: 14px; }
  .txt-size-3 {
    font-size: 16px; }
  .txt-size-4 {
    font-size: 21px; }
  .txt-size-5 {
    font-size: 28px; }
  .txt-size-6 {
    font-size: 38px; } }

@media (min-width: 900px) {
  .txt-size-1 {
    font-size: 13px; }
  .txt-size-2 {
    font-size: 14px; }
  .txt-size-3 {
    font-size: 16px; }
  .txt-size-4 {
    font-size: 21px; }
  .txt-size-5 {
    font-size: 38px; }
  .txt-size-6 {
    font-size: 51px; } }

.txt-white {
  color: white; }

.txt-blue {
  color: #5e97d1; }

.txt-gray {
  color: #9b9b9b; }

.txt-light-gray {
  color: whitesmoke; }

.txt-warning {
  color: #cc1d39; }

.txt-light {
  font-weight: 300; }

.txt-bold {
  font-weight: 700; }

.txt-uppercase {
  text-transform: uppercase; }

.txt-capitalize {
  text-transform: capitalize; }

.txt-no-underline,
a.txt-no-underline {
  text-decoration: none; }

.hide {
  display: none; }

.link-transition {
  transition: all 0.25s linear; }

.header-wrapper {
  margin: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-wrapper .cart-text {
    margin-left: 5px;
    position: relative;
    top: -1px; }

.product-wrapper {
  background-color: white;
  display: flex;
  margin-bottom: 25px; }

.product-details-wrapper {
  width: 100%;
  padding: 30px 60px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.product-title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px; }

.btn {
  background-color: #5e97d1;
  color: white;
  border: 0;
  font-size: 13px;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px 25px;
  transition: all 0.25s linear;
  min-width: 150px; }
  @media (min-width: 600px) {
    .btn {
      font-size: 14px; } }

.btn:hover {
  background-color: #407fc0;
  cursor: pointer;
  transition: all 0.25s linear; }

.btn:disabled {
  background-color: rgba(94, 151, 209, 0.4); }

body {
  background-color: whitesmoke;
  color: #292929;
  font-family: 'Helvetica Neue', sans-serif; }

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 70px; }
