/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */
.txt-chivo {
  font-family: 'Chivo', sans-serif; }

.txt-chivo-light {
  font-family: 'Chivo Light', sans-serif; }

.txt-chivo-bold {
  font-family: 'Chivo Bold', sans-serif; }

.txt-helvetica-neue {
  font-family: 'Helvetica Neue', sans-serif; }

.txt-size-1 {
  font-size: 12px; }
  @media (min-width: 675px) {
    .txt-size-1 {
      font-size: 12px; } }
  @media (min-width: 950px) {
    .txt-size-1 {
      font-size: 13px; } }

.txt-size-2 {
  font-size: 13px; }
  @media (min-width: 675px) {
    .txt-size-2 {
      font-size: 14px; } }
  @media (min-width: 950px) {
    .txt-size-2 {
      font-size: 14px; } }

.txt-size-3 {
  font-size: 14px; }
  @media (min-width: 675px) {
    .txt-size-3 {
      font-size: 16px; } }
  @media (min-width: 950px) {
    .txt-size-3 {
      font-size: 16px; } }

.txt-size-4 {
  font-size: 16px; }
  @media (min-width: 675px) {
    .txt-size-4 {
      font-size: 21px; } }
  @media (min-width: 950px) {
    .txt-size-4 {
      font-size: 21px; } }

.txt-size-5 {
  font-size: 21px; }
  @media (min-width: 675px) {
    .txt-size-5 {
      font-size: 28px; } }
  @media (min-width: 950px) {
    .txt-size-5 {
      font-size: 38px; } }

.txt-size-6 {
  font-size: 28px; }
  @media (min-width: 675px) {
    .txt-size-6 {
      font-size: 38px; } }
  @media (min-width: 950px) {
    .txt-size-6 {
      font-size: 51px; } }

.txt-white {
  color: white; }

.txt-blue {
  color: #5e97d1; }

.txt-gray {
  color: #9b9b9b; }

.txt-light-gray {
  color: whitesmoke; }

.txt-warning {
  color: #cc1d39; }

.txt-light {
  font-weight: 300; }

.txt-bold {
  font-weight: 700; }

.txt-uppercase {
  text-transform: uppercase; }

.txt-capitalize {
  text-transform: capitalize; }

.txt-no-underline,
a.txt-no-underline {
  text-decoration: none; }

.txt-center {
  text-align: center; }

a {
  color: #292929;
  transition: color 0.25s linear;
  text-decoration: none; }

a:hover {
  color: #9b9b9b;
  transition: color 0.25s linear; }

.hide {
  display: none; }

.link-transition {
  transition: all 0.25s linear; }

.header-wrapper {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 1.5rem;
  margin: 2rem 0 1rem 0; }
  @media (min-width: 675px) {
    .header-wrapper {
      margin: 4rem 0 1.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 950px) {
    .header-wrapper {
      margin: 4rem 0 2rem 0; } }
  .header-wrapper .heading {
    font-family: 'Chivo Bold', sans-serif;
    font-size: 28px;
    margin-bottom: .75rem; }
    @media (min-width: 675px) {
      .header-wrapper .heading {
        font-size: 38px; } }
    @media (min-width: 950px) {
      .header-wrapper .heading {
        font-size: 51px; } }
    @media (min-width: 675px) {
      .header-wrapper .heading {
        margin-bottom: 0; } }
  .header-wrapper .cart-link-text {
    position: relative;
    top: -1px;
    margin-left: 5px;
    font-family: 'Chivo', sans-serif;
    font-size: 13px;
    transition: all 0.25s linear; }
    @media (min-width: 675px) {
      .header-wrapper .cart-link-text {
        font-size: 14px; } }
    @media (min-width: 950px) {
      .header-wrapper .cart-link-text {
        font-size: 14px; } }
  .header-wrapper .header-cart-icon path {
    transition: all 0.25s linear; }
  .header-wrapper .header-cart-link:hover .header-cart-icon path {
    fill: #5e97d1;
    transition: all 0.25s linear; }
  .header-wrapper .header-cart-link:hover .cart-link-text {
    color: #5e97d1;
    cursor: pointer;
    transition: all 0.25s linear; }

.product-wrapper {
  background-color: white;
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap; }
  @media (min-width: 675px) {
    .product-wrapper {
      margin-bottom: 1.5rem;
      flex-wrap: nowrap; } }
  @media (min-width: 950px) {
    .product-wrapper {
      margin-bottom: 2rem; } }
  .product-wrapper img {
    width: 100%;
    display: block; }
  .product-wrapper .product-image-wrapper,
  .product-wrapper .product-details-wrapper {
    width: 100%; }
    @media (min-width: 675px) {
      .product-wrapper .product-image-wrapper,
      .product-wrapper .product-details-wrapper {
        width: 50%; } }
  .product-wrapper .product-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 3rem;
    padding: 4%; }
    @media (min-width: 950px) {
      .product-wrapper .product-details-wrapper {
        padding: 4% 6% 4% 4%; } }
  .product-wrapper .product-title-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1.5rem; }
  .product-wrapper .product-title {
    font-family: 'Chivo', sans-serif;
    font-size: 21px; }
    @media (min-width: 675px) {
      .product-wrapper .product-title {
        font-size: 28px; } }
    @media (min-width: 950px) {
      .product-wrapper .product-title {
        font-size: 38px; } }
  .product-wrapper .product-price {
    position: relative;
    top: 5px;
    font-family: 'Chivo Light', sans-serif;
    font-size: 16px; }
    @media (min-width: 675px) {
      .product-wrapper .product-price {
        font-size: 21px; } }
    @media (min-width: 950px) {
      .product-wrapper .product-price {
        font-size: 21px; } }
  .product-wrapper .product-remaining {
    position: relative;
    left: 2px;
    font-size: 12px;
    color: #9b9b9b;
    text-transform: uppercase; }
    @media (min-width: 675px) {
      .product-wrapper .product-remaining {
        font-size: 12px; } }
    @media (min-width: 950px) {
      .product-wrapper .product-remaining {
        font-size: 13px; } }
  .product-wrapper .remove-button {
    color: #cc1d39;
    font-size: 14px; }
    @media (min-width: 675px) {
      .product-wrapper .remove-button {
        font-size: 16px; } }
    @media (min-width: 950px) {
      .product-wrapper .remove-button {
        font-size: 16px; } }
    .product-wrapper .remove-button:hover {
      cursor: pointer; }
  .product-wrapper .quantity-adjustment {
    white-space: nowrap; }
  .product-wrapper .product-quantity {
    min-width: 95px;
    display: inline-block;
    text-align: center;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 16px; }

.cart-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dcdee0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
  z-index: -1;
  transition: all 0.25s linear; }
  .cart-wrapper.cart-active {
    opacity: 1;
    z-index: 500;
    transition: all 0.25s linear; }
  .cart-wrapper .cart-contents {
    position: relative;
    background-color: white;
    width: 50%;
    max-width: 1300px;
    min-height: 40%;
    padding: 5%;
    border-radius: 14px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.17); }
  .cart-wrapper .cart-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 400; }
  .cart-wrapper .cart-close-icon:hover {
    cursor: pointer; }
  .cart-wrapper .cart-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8; }

.active-cart-wrapper {
  margin-top: 1.5rem; }
  .active-cart-wrapper .cart-product-wrapper {
    display: flex; }

.checkout-wrapper {
  font-size: 14px; }
  @media (min-width: 675px) {
    .checkout-wrapper {
      font-size: 16px; } }
  @media (min-width: 950px) {
    .checkout-wrapper {
      font-size: 16px; } }
  .checkout-wrapper .totals-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;
    padding-top: 2rem; }
    .checkout-wrapper .totals-wrapper span {
      width: 50%;
      margin-bottom: 2rem; }
    .checkout-wrapper .totals-wrapper .heading {
      font-family: 'Chivo', sans-serif; }
    .checkout-wrapper .totals-wrapper .price {
      font-family: 'Chivo Light', sans-serif;
      text-align: right; }

.empty-cart-wrapper {
  text-align: center; }
  .empty-cart-wrapper .empty-cart-icon {
    margin: 25% 0 25px 0; }
  .empty-cart-wrapper .empty-cart-text {
    margin: auto;
    width: 50%;
    color: #9b9b9b;
    font-size: 16px; }
    @media (min-width: 675px) {
      .empty-cart-wrapper .empty-cart-text {
        font-size: 21px; } }
    @media (min-width: 950px) {
      .empty-cart-wrapper .empty-cart-text {
        font-size: 21px; } }

.btn {
  background-color: #5e97d1;
  color: white;
  border: 0;
  font-size: 13px;
  font-family: 'Chivo', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 1rem 1.5rem;
  transition: all 0.25s linear;
  min-width: 150px; }
  @media (min-width: 675px) {
    .btn {
      font-size: 14px; } }
  .btn:hover {
    background-color: #407fc0;
    cursor: pointer;
    transition: all 0.25s linear; }
  .btn:disabled {
    background-color: rgba(94, 151, 209, 0.4);
    cursor: default; }
  .btn.btn-quantity {
    min-width: 95px;
    font-size: 14px;
    background-color: #ededed;
    color: #8e939c; }
    @media (min-width: 675px) {
      .btn.btn-quantity {
        font-size: 16px; } }
    @media (min-width: 950px) {
      .btn.btn-quantity {
        font-size: 16px; } }
    .btn.btn-quantity:hover {
      background-color: #5e97d1;
      color: white; }
    .btn.btn-quantity:disabled {
      background-color: #f9f9f9;
      color: #dedede;
      cursor: default; }
  .btn.btn-left {
    border-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  .btn.btn-right {
    border-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }

html {
  font-size: 14px; }
  @media (min-width: 675px) {
    html {
      font-size: 16px; } }

body {
  background-color: whitesmoke;
  color: #292929;
  font-family: 'Helvetica Neue', sans-serif; }

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 70px; }
