@charset 'utf-8';

@import 'base/reset';
@import 'base/variables';
@import 'base/media-queries';
@import 'base/mixins';

@import 'typography/typography';
@import 'typography/links';

@import 'helpers/helpers';

@import 'components/header';
@import 'components/product';
@import 'components/cart';
@import 'components/buttons';

body {
  background-color: $light-gray;
  color: $black;
  @include helvetica-neue();
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 70px;
}