@charset 'utf-8';

@import 'base/reset';
@import 'base/variables';
@import 'base/media-queries';
@import 'base/mixins';

@import 'typography/typography';
@import 'typography/links';

@import 'helpers/helpers';

@import 'components/header';
@import 'components/product';
@import 'components/cart';
@import 'components/buttons';

html {
  font-size: 14px;
  @include mq-md() {
    font-size: 16px;
  }
}

body {
  background-color: $light-gray;
  color: $black;
  @include helvetica-neue();
  overflow-x: hidden;
}

.container {
  width: 94%;
  max-width: $max-width;
  margin: auto;
  margin-bottom: 70px;
  @include mq-md() {
    width: 90%;
  }
}